Weather API part II

Now that you have finished helping with your company's STEM project, it's time to get back to working on the travel app for customers. You and Jack want this to feel like a really cool, interactive experience, so you decide to create a variety of heatmaps for the weather data on the website, with some interactive dropdowns for additional information. You will need to write the code that uses the Google Maps and Places API that will create each heatmap.

Using gmaps, we'll create heatmaps and location markers for hotels within a certain radius of the cities where our customers travel.

Set Up Google Maps and Places API:

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2021-06-18 05:54:57,-33.8667,121.9000,58.84,53,0,6.62
1,1,Jalu,LY,2021-06-18 05:56:36,29.0331,21.5482,83.79,25,0,5.95
2,2,Lorengau,PG,2021-06-18 05:56:36,-2.0226,147.2712,83.73,66,80,7.74
3,3,Geraldton,AU,2021-06-18 05:56:37,-28.7667,114.6000,71.13,48,0,13.80
4,4,Kuhdasht,IR,2021-06-18 05:56:37,33.5350,47.6061,92.71,7,0,2.24

In [23]:
# Get the data types.
# (gmaps only accepts floating points and integers)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Build heatmaps

To implement the heatmap feature on your company's website, you'll need to build out the code for the heatmap and test the feature using the weather data with an API call. Time to write some code.

In [25]:
# Get the maximum temperature 
# and remove negative heat values for gmaps to run correctly
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#   temps.append(max(temp, 0))

# Instead, this was ran as a list comprehension in the heat layer temps section below

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
# list comprehension for-loop added into 'weights' to remove negative temperature values for 0
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Get Vacation Criteria

Building a feature on the app that allows customers to search for locations they want to travel based on their temperature preferences.

In [46]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [54]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.tail(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
479,479,Senanga,ZM,2021-06-18 06:00:00,-16.1167,23.2667,54.34,47,0,4.09
480,480,Muros,ES,2021-06-18 06:00:01,42.7762,-9.0603,57.09,86,100,17.20
487,487,Oxbow,CA,2021-06-18 06:00:10,49.2333,-102.1676,54.70,67,0,8.57
489,489,Kippen,GB,2021-06-18 06:00:11,56.1268,-4.1709,50.59,78,0,2.46
496,496,Port Lincoln,AU,2021-06-18 06:00:16,-34.7333,135.8667,56.43,62,59,16.51
498,498,Omsukchan,RU,2021-06-18 06:00:17,62.5333,155.8000,54.09,62,17,6.67
502,502,Collie,AU,2021-06-18 06:00:19,-33.3667,116.1500,58.98,46,0,6.85
530,530,Sjovegan,NO,2021-06-18 06:00:36,68.8726,17.8474,56.21,85,100,3.51
533,533,Manyana,BW,2021-06-18 06:00:37,-23.4000,21.7167,52.36,37,0,2.82
534,534,Conceicao Do Rio Verde,BR,2021-06-18 06:00:38,-21.8808,-45.0853,50.00,94,1,2.75

In [64]:
# Check null values are removed by the dropna above
preferred_cities_df.count()

City_ID       81
City          81
Country       81
Date          81
Lat           81
Lng           81
Max Temp      81
Humidity      81
Cloudiness    81
Wind Speed    81
dtype: int64

Map vacation criteria

Once the customers have filtered the database (DataFrame) based on their temperature preferences, show them a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for each city that will display the name of the city, country code, maximum temperature, and name of a nearby hotel within three miles of the coordinates when the marker is clicked.

Get the travel destinations:

In [56]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# (empty column is created to accept hotel name and we don't want to disturb the city_data_df used to filter from)
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Esperance      AU     58.84 -33.8667  121.9000
15      New Norfolk      AU     54.90 -42.7826  147.0587
17           Tiznit      MA     59.14  29.5833   -9.5000
21        Cape Town      ZA     53.11 -33.9258   18.4232
30        Bonavista      CA     51.80  48.6499  -53.1147
31          Quimper      FR     59.07  48.0000   -4.1000
37         Cidreira      BR     51.75 -30.1811  -50.2056
38            Synya      RU     56.16  65.3718   58.0387
39  Mnogovershinnyy      RU     54.72  53.9353  139.9242
40           Albany      US     54.41  42.6001  -73.9662

Retrieve Hotels from a Nearby Search

The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.

Set the Parameters for a Nearby Search

To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request. First, navigate to the Nearby Search requests page.

In [57]:
# Set parameters to search for a hotel.
# (based on requests.get documentation)
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

To understand how to iterate through rows during API call and populate hotel names (like below)

See Google_Nearby_Search.ipynb where we built the code below:

In [58]:
# Iterate through the new hotel DataFrame and populate hotel name using existing lat and lng.
# added try and except block to handle error during api request
for index, row in hotel_df.iterrows():
    # Get the latitude Longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: "lodging" and our latitude and longitude. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    # see requests.get documentation
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # added try and except block to handle errors and keep API request running
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [62]:
# Check hotel name was populated if not skipped as the several above
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Esperance,AU,58.84,-33.8667,121.9000,Hospitality Esperance
15,New Norfolk,AU,54.90,-42.7826,147.0587,The Shingles Riverside Cottages
17,Tiznit,MA,59.14,29.5833,-9.5000,
21,Cape Town,ZA,53.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town
30,Bonavista,CA,51.80,48.6499,-53.1147,Abbott's Bed & Breakfast
31,Quimper,FR,59.07,48.0000,-4.1000,Hôtel Escale Oceania Quimper
37,Cidreira,BR,51.75,-30.1811,-50.2056,Hotel Castelo
38,Synya,RU,56.16,65.3718,58.0387,
39,Mnogovershinnyy,RU,54.72,53.9353,139.9242,Kvartsevaya Sopka
40,Albany,US,54.41,42.6001,-73.9662,